@primary: #00fff8;
@secondary: #2b2b2b;
@secondary-light: #3e3e3e;
@color-secondary-light-2: #f6f6f6;

.text-color-primary {
    color: @primary !important;
}

.text-color-secondary {
    color: @secondary !important;
}

.text-color-secondary-light {
    color: @secondary-light !important;
}

.text-color-secondary-light-2 {
    color: @color-secondary-light-2 !important;
}

.bg-color-primary {
    background-color: @primary !important;
}

.bg-color-secondary {
    background-color: @secondary !important;
}

.bg-color-secondary-light {
    background-color: @secondary-light !important;
}

.bg-color-secondary-light-2 {
    background-color: @color-secondary-light-2 !important;
}

.bg-font-primary {
    background-color: @primary;
    color: @secondary;
}
